.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #FF5151;
    cursor: pointer;
    transition: 0.3s;
}

.text__btn {
    font-family: Happy Monkey, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FF5151;
}

.btn:hover {
    transform: scale(1.05);
}