.aside {
    display: flex;
    flex-direction: column;
    gap: 35px;
    background: #fff;
    border-radius: 15px;
    padding: 22px 10px;
}

.title {
    font-family: Happy Monkey, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aside__block {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.aside__summa{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    padding-top: 15px;
    border-top: 2px solid black;
}

.aside__title {
    font-family: Quattrocento, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promocode {
    display: flex;
    flex-direction: column;
    gap: 20px   ;
    justify-content: flex-end;
}