.wrapper {
    background: #FFEBF0;
}

.title {
    font-family: Prata, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 25px;
}

.section__basket {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.product {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 10px;
}
