@import "variables";
* {
  font-family: monospace, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  flex: 1 1 100%;
}
.col {
  padding-left: 15px;
  padding-right: 15px;
}

html {
  color-scheme: light dark;
  background-color: #ffffff;


}
.title, .route-title {
  color: $lightTitleColor;
  margin-bottom: 10px;
  .dark & {
    color: #ffffff;
  }
}
.dark {
  background-color: #242424;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: 0.2s ease;
  transform: translateY(0);
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translateY(-100%);

}
button:disabled {
  background-color: unset;
  color: unset;
  border-color: unset;
}
[disabled], .disabled {
  opacity: 0.4;
}