.footer {
    background: #CA8B81;
    padding: 18px 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 33px;
}

.titleH4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
}

.contact {
    display: flex;
    flex-direction: column;
}

.number {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.tel {
    color: #000000;
}

.call {
    font-family: Quattrocento, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 22px;
    border-radius: 15px;
    background: #000000;
    margin-bottom: 15px;
}

.btnInfo {
    display: flex;
    flex-direction: column;
}

.download {
    color: #FFFFFF;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services {
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}